[Unit]
After=network-online.target
Description=Pepecoin daemon
Documentation=https://github.com/pepecoin/pepecoin/blob/master/doc/init.md
Wants=network-online.target

[Service]
ConfigurationDirectory=pepecoin
ConfigurationDirectoryMode=0710
ExecStart=/usr/local/bin/pepecoind \
  -conf=/etc/pepecoin/pepecoin.conf \
  -chain=${CHAIN}
ExecStartPre=/bin/chgrp pepecoin /etc/pepecoin
Group=pepecoin
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PermissionsStartOnly=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RuntimeDirectory=pepecoind
RuntimeDirectoryMode=0710
StateDirectory=pepecoind
StateDirectoryMode=0710
TimeoutStartSec=infinity
TimeoutStopSec=600
Type=simple
User=pepecoin

[Install]
WantedBy=multi-user.target
